<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DALSqlAssembly" value="TourPlanner.DataAccessLayer.PostgresSqlServer" />
    <add key="ApiKey" value="gbxoMANTCgZCQPPwmBdaCcXtkpX6KAfJ"/>
    <add key="RoutPhotoFolder" value="E:\FH\SS2022\software engineering2\TourPlanner\RoutePhotos" />
  </appSettings>

  <connectionStrings>
    <add name="PostgresSQLConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=1234;Database=tp;" />
  </connectionStrings>
</configuration>